@use '../custom' as *;

.about-header {
    padding: 56px 0;
    background-color: black;
    border-bottom: 3px solid #f39c12;
}

.about-content {
    padding: 30px 2em;
    .base-desc {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.certhe-desc, .base-desc, .practical-experience {
    border-radius: 25px;
    background: black;
    padding: 20px;
  }