@use '../custom' as *;

.about-header {
    padding: 40px 0px;
    background-color: grey;
}

.about-content {
    padding: 30px 2em;
    .base-desc {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}