@use '../custom' as *;

.contact-section-title {
    margin-left: 1rem;
    margin-top: 50px;
}

.contact-form-container {
    width: 90%;
    .message-input {
        display:inline-block;
        height: 10rem;
    }
    .btn {
        display: block;
        width: 30%;
        margin-left: 1rem;
    }
}

.contact-prompt {
    padding-left: 1rem;
    padding-right: 1rem;
}

.scroll-prompt--up {
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: #f39c12;
    }
    p {
        margin-top: 3rem;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f39c12;
}

form {
    label {
        color: #f39c12;
    }
    .error {
        font-weight: bold;
        color: red;
        border-color: red;
        border-width: 4px;
    }
}