@use '../custom' as *;

.examples-header {
    padding: 28px 0;
    @media (min-width: map-get($grid-breakpoints, "md")) {
      padding: 34px 0;
    }
    @media (min-width: map-get($grid-breakpoints, "lg")) {
      padding: 56px 0;
    }
    background-color: #141414;
    border-bottom: 3px solid #f39c12;
    .examples-title {
      padding: 0px 60px;
    }
}

.content-container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 30px 2em;
}

.examples-content {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  .article-head, pre, .note-container {
    border-radius: 25px;
    padding: 20px;
  }
  h2 {
    display: inline-block;
  }
  .note-container {
    display:none;
    @media (min-width: map-get($grid-breakpoints, "sm")) {
      display: block;
    }
    padding: 20px 20px 20px 0;
    color: #f39c12;
  }
  .demo-gif-container {
    display: flex;
    justify-content: center;
  }
  .gist-button {
    @media (min-width: map-get($grid-breakpoints, "sm")) {
      display:none;
    }
  }
  .demo-gif {
    width: 100%;
    @media (min-width: map-get($grid-breakpoints, "sm")) {
      width: 60%;
    }
    @media (min-width: map-get($grid-breakpoints, "md")) {
      width: 30%;
    }
  }
  .demo-schema {
    width: 100%;
    @media (min-width: map-get($grid-breakpoints, "sm")) {
      width: 80%;
    }
  }
  details {
    display: none;
    @media (min-width: map-get($grid-breakpoints, "sm")) {
      display: inline-block;
    }
    // border: 1px solid #f39c12;
    // border-radius: 4px;
    padding: .5em .5em;
  }
  summary {
    color: #f39c12;
  }
  .explanation-title {
    font-size: 30;
    color: #f39c12;
  }
}
table {
  display: flex;
  justify-content: center;
}
th, td {
  color: white;
  border: 1px solid white;
  padding: 1em;
}