@use '../custom' as *;

.examples-header {
    padding: 28px 0;
    @media (min-width: map-get($grid-breakpoints, "md")) {
      padding: 34px 0;
    }
    @media (min-width: map-get($grid-breakpoints, "lg")) {
      padding: 56px 0;
    }
    background-color: #141414;
    border-bottom: 3px solid #f39c12;
}

.content-container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 30px 2em;
}

.examples-content {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  .article-head, pre, .note-container {
    border-radius: 25px;
    background: black;
    padding: 20px;
  }
  h2 {
    display: inline-block;
  }
  .note-container {
    color: #f39c12;
  }
}