@use '../custom' as *;

main {
    background-color: black;
}

.projects-section {
    height: auto;
    width: 90%;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}

.project-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 3rem;
    background-image: url(../../assets/images/placeholderproject.jpeg);
    background-origin: content-box;
    background-size: cover;
    background-clip: content-box;
    background-position: 100% center;
    height: 300px;
    .card-title, .hover-title {
        z-index: 2;
        padding-left: 1em;
        margin-top: auto;
    }
    .card-title {
        opacity: 75%;
    }
    .hover-content {
        display: none;
        position: absolute;
        bottom: -50px;
        transition: transform 0.3s ease-in;
    }
    &:hover {
        cursor: pointer;
        .overlay {
            opacity: 20%;
            transition: opacity 0.3s ease-in;
        }
        .hover-content {
            display: block;
            width: calc(100% - 4rem);
            transform: translateY(-50px);
        }
        .card-title {
            display: none;
        }
    }
    .hover-desc {
        z-index: 2;
        padding: 0 1em;
    }
}

.overlay {
    position: absolute;
    height: 100%;
    width: calc(100% - 4rem);
    background-color: grey;
    opacity: 0%;
}

.projects-section-title {
    margin-left: 2rem;
    margin-top: 50px;
}