@use '../custom' as *;

main {
    background-color: black;
}

.projects-section {
    height: auto;
    width: 90%;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}

.project-container {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 3rem;
    background-image: url(../../assets/images/placeholderproject.jpeg);
    background-origin: content-box;
    background-size: cover;
    background-clip: content-box;
    background-position: 100% center;
    height: 300px;
    h5 {
        margin-left: 1rem;
        margin-top: auto;
    }
}

.projects-section-title {
    margin-left: 2rem;
    margin-top: 50px;
}