@use '../custom' as *;

.scs-header {
    padding: 40px 0px;
    background-color: grey;
}

.scs-content {
    padding: 30px 2em;
}

.treehouse, .netmatters, .base-desc, .treehouse-score {
  border-radius: 25px;
  background: black;
  padding: 20px;
}