@use '../custom' as *;

.scs-header {
  padding: 28px 0;
  @media (min-width: map-get($grid-breakpoints, "md")) {
    padding: 34px 0;
  }
  @media (min-width: map-get($grid-breakpoints, "lg")) {
    padding: 56px 0;
  }
  background-color: #141414;
  border-bottom: 3px solid #f39c12;
  .scs-title {
    padding: 0px 60px;
  }
}

.scs-content {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 30px 2em;
    ul li {
      color: white;
    }
}

.treehouse, .netmatters, .base-desc, .treehouse-score {
  border-radius: 25px;
  background: black;
  padding: 20px;
}