@use '../custom' as *;

main {
    @media (min-width: map-get($grid-breakpoints, "md" )) {
        margin-left: 200px;
    }
    @media (min-width: map-get($grid-breakpoints, "lg")) {
        margin-left: 250px;
    }
}

.sidebar {
    display: none;
    flex-direction: column;
    position: fixed;
    height: 100%;
    overflow-y: hidden;
    z-index: 1;
    top: 0;
    background-color: #111;
    overflow-x: hidden;
    &__linkcontainer {
        display: flex;
        flex-direction: column;
    }
    &__link, &__logo {
        text-decoration: none;
    }
    &__icons {
        align-self: center;
        display: flex;
        justify-content: space-around;
    }
    @media (min-width: map-get($grid-breakpoints, "md" )) {
        min-width: 200px;
        padding-top: 20px;
        display: flex;
        &__linkcontainer {
            padding: 20px 0px;
            border-top: 3px solid blue;
            border-bottom: 3px solid blue;
        }
        &__link {
            padding: 10px 8px 10px 16px;
        }
        &__logo {
            padding: 6px 8px;
            margin-bottom: 20px;
        }
        &__icons {
            margin-top: 20px;
            width: 75%;
        }
    }
    @media (min-width: map-get($grid-breakpoints, "lg")) {
        min-width: 250px;
        padding-top: 30px;
        &__logo {
            margin-bottom: 30px;
        }
    }
}

//TODO: CREATE LARGER SIDE-BAR VERSION.