@use '../custom' as *;

.page-container {
    display: flex;
    flex-direction: row;
}

.side-bar {
    display: none;
    a {
        text-decoration: none;
    }
    @media (min-width: map-get($grid-breakpoints, "md" )) {
        width: 200px;
        display: flex;
        flex-direction: column;
    }
}