@use '../custom' as *;

main {
    padding: 0px 10px;
    @media (min-width: map-get($grid-breakpoints, "md" )) {
        margin-left: 200px;
    }
}

.sidebar {
    display: none;
    position: fixed;
    height: 100%;
    z-index: 1;
    top: 0;
    background-color: #111;
    overflow-x: hidden;
    &__link, &__logo {
        text-decoration: none;
    }
    @media (min-width: map-get($grid-breakpoints, "md" )) {
        min-width: 200px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        &__link {
            padding: 6px 8px 6px 16px;
        }
        &__logo {
            font-size: 50px;
            padding: 6px 8px;
        }
    }
    span[class^="icon-"] {

    }
}